# Eclipse
.settings
.project

# Mac OS
.DS_Store

# Node
node_modules

# Composer
composer.phar
composer.lock

# Build
tmp
dist

# Test
test

# Vendor
vendor

# App dependencies
app/mu-plugins/**
app/plugins/**