# Mac OS
.DS_Store

# Node
node_modules
**/node_modules
npm-debug.log

# PHP
vendor
composer.phar

# Temp Dir
tmp
temp

# Env Files
.env-*
.env
!.env-sample

# Wordpress
wp-config-*
wp-config
!wp-config-docker.php
.plugins
.mu-plugins
.uploads
